<table class="table table-hover">
  <thead>
    <tr>
      <th>Artist</th>
      <th>Min price</th>
      <th>Max price</th>
      <th>Date</th>
      <th></th>      
    </tr>
  </thead>

  <tbody>
    <% @events.select{|event| event.event_date >= Date.today}.each do |event| %>
      <tr>
        <td><%= event.artist %></td>
        <td><%= event.price_low %></td>
        <td><%= event.price_high %></td>
        <td><%= event.event_date %></td> 
          <td><%= link_to "Buy", "/events/#{event.id}",  class: "btn btn-default" %></td>
      </tr>
    <% end %>
  </tbody>
</table>