<%= form_with(model: event, local: true) do |form| %>


  <% if @event.errors.any? %>y
    <div id="error_explanation">
      <ul>
        <% @event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<div class="form-group">
  <div class="field row">
    <div class="col-md-1"> <%= form.label :artist %></div>
    <div class="col-md-4"> <%= form.text_field :artist, id: :event_artist, class: "form-control" %></div>
  </div>
</div>

<div class="form-group">
  <div class="field row">
    <div class="col-md-1"> <%= form.label :description %></div>
    <div class="col-md-4"> <%= form.text_field :description, id: :event_description, class: "form-control"  %></div>
  </div>
</div>

<div class="form-group">
  <div class="field row">
    <div class="col-md-1"> <%= form.label :place %></div>
    <div class="col-md-4"> <%= form.text_field :place, id: :event_place, disabled: @event.id, class: "form-control"  %></div>
  </div>
</div>

<div class="form-group">
  <div class="field row">
    <div class="col-md-1"> <%= form.label :event_date %></div>
    <div class="col-md-4"> <%= form.date_field :event_date, id: :event_date, class: "form-control"  %></div>
  </div>
</div>

<div class="form-group">
  <div class="field row">
    <div class="col-md-1"> <%= form.label :can_return %></div>
    <div class="col-md-4"> <%= form.check_box :can_return, id: :event_can_return %></div>
  </div>
</div>

 <div class="form-group">
  <div class="field row">
    <div class="col-md-1"> <%= form.label :of_age %></div>
    <div class="col-md-4"> <%= form.check_box :of_age, id: :event_of_age %></div>
  </div>
</div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary"%>
  </div>
<% end %>
