<h1>Events</h1>

<p id="notice"><%= notice %></p>
<p id="komunikat"><%= flash[:komunikat] %></p>
<p>
  <strong>Artist:</strong>
  <%= @event.artist %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Min price:</strong>
  <%= @event.price_low %>
</p>

<p>
  <strong>Max price:</strong>
  <%= @event.price_high %>
</p>

<% if Date.today == @event.event_date %>
  Uwaga! Dziś cena buletu większa o 20%!
<% end %>

<p>
  <strong>Date:</strong>
  <%= @event.event_date %>
</p>

<p>
  <strong>Place:</strong>
  <%= @event.place %>
</p>

<p>
  <strong>Places:</strong>
  <ul>
  <% for key in @event.place.keys %>
    <li> zone: <%= key %> | places: <% %> <%= @event.place[key][0] %> |
    free: <%= @event.place[key][0] - @event.place[key][2].length %> |
    price: <%= @event.place[key][1] %></li>
  <% end %>
  </ul>
</p>

<p>
  <strong>Choose your place:</strong><br/><br/>
  <% @event.place.each do |key, typ| %>
    <% [*1..typ[0]].each do |nr| %>
      <% if !typ[2].include?(nr) %>
        <%= link_to nr, :action => "show", :typ => key, :nr => nr, :price_typ => typ[1], :method => :get, :disabled => typ[2].include?(nr) %>        
      <% else %>
        <%= nr %>
      <% end %>
      <% if nr % 10 == 0 %>
        <br/>
      <% end %>
    <% end %>
     <br/>
  <% end %>
</p>


  <% if @event.can_return || @event.of_age %>
    <strong>Details</strong>
    <ul>
      <% if @event.can_return %>
        <li>Possible return ticket </li>
      <% end %>
      <% if @event.of_age %>
        <li>Only for of age </li>
      <% end %>
    </ul>
  <% end %>


<% if signed_in?%>
  
 <% if @event.event_date >= Date.today && @event.event_date < Date.today + 1.month%>
  <% if can_buy? %>
    <% if @typ && @nr%>
      <% if Date.today == @event.event_date %>
        <%= render "new_ticket", ticket: Ticket.new( :event_id => @event.id, :seat_id_seq => String(@typ)+@nr, :price => 1.2*@price.to_f), events: @events %>
      <% else %>
        <%= render "new_ticket", ticket: Ticket.new( :event_id => @event.id, :seat_id_seq => String(@typ)+@nr, :price => @price), events: @events %>
      <% end %>
    <% else %>
      <%= render "new_ticket", ticket: Ticket.new( :event_id => @event.id), events: @events %>   
    <% end %>
  <% else %>
   Zakupiłeś już 5 biletów!
  <% end %>
<% else %>  
  Sprzedaż biletów rozpocznie się miesiąc przed wydarzeniem
<% end %>


<%= render "tickets_list" %>
<% end %>


<%# <%= link_to 'Edit', edit_event_path(@event) %>
<%= link_to 'Back', events_path %>
<%= render 'tickets/menu' %>